.cardsContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
  gap: 14px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.7em;
  box-shadow: 12px 8px 8px rgba(0, 0, 0, 0.1);
}

.quantityCard {
  /* text-align: center; */
  /* width: fit-content; */
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  border: 2px solid grey;
  border-radius: 50%;
}

.topCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
